:root {
	--primary-50: hsl(210, 10%, 10%);
	--primary-100: hsl(210, 24%, 11%);
	--primary-200: hsl(211, 29%, 19%);
	--primary-700: hsl(210, 80%, 85%);
}

body {
	background: var(--primary-100);
	color: var(--primary-700);
	font-family: "Fredoka", sans-serif;
	overflow: hidden;
}

.pageWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.sealArea {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 4rem;
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.clickAbsorber {
	position: absolute;
	inset: 0;
	z-index: 1;
}

.seal {
	margin: auto;
	padding-top: 4rem;
	width: 20rem;
	transition: transform 300ms cubic-bezier(0.48, -1.01, 0.43, 1.66);
}

.sealArea:active .seal {
	transform: scale(0.95);
}

.countHeader {
	text-align: center;
	position: absolute;
	top: 2rem;
	left: 0;
	right: 0;
}

.countPerSecondDisplay {
	font-size: 1.2rem;
}

.countDisplay {
	font-size: 8rem;
	line-height: 1;
}

.shopList {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	padding: 2rem;
	overflow: auto;
	height: 100%;
}

.shopItem {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 8rem;
	border-radius: 1.5rem;
}

.shopItem img {
	height: 6rem;
	width: 6rem;
	object-fit: contain;
}

.buyOne,
.buyMany {
	background: var(--primary-200);
	color: white;
	border: none;
}

.buyOne {
	padding: 1.5rem;
	display: flex;
	border-top-left-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
}

.buyText {
	margin: auto;
}

.buyMany {
	padding: 1.5rem;
	border-left: solid var(--primary-100) 2px;
	border-top-right-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
}

.buyOne:active,
.buyMany:active {
	background-color: var(--primary-50);
}
